# Copy to terraform.tfvars to customize. All values shown are defaults.
#
# rgw_endpoint   = "http://127.0.0.1:8000"
# rgw_access_key = "cephtekton"
# rgw_secret_key = "cephtekton"
# rgw_region     = "default"
# bucket_prefix  = ""
